<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Usercontroller</servlet-name>
        <servlet-class>controllers.Usercontroller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Usercontroller</servlet-name>
        <url-pattern>/Usercontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Signupcontroller</servlet-name>
        <servlet-class>controllers.Signupcontroller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signupcontroller</servlet-name>
        <url-pattern>/Signupcontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Classcontroller</servlet-name>
        <servlet-class>controllers.Classcontroller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Classcontroller</servlet-name>
        <url-pattern>/Classcontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Assignmentcontroller</servlet-name>
        <servlet-class>controllers.Assignmentcontroller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Assignmentcontroller</servlet-name>
        <url-pattern>/Assignmentcontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Syllabuscontroller</servlet-name>
        <servlet-class>controllers.Syllabuscontroller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Syllabuscontroller</servlet-name>
        <url-pattern>/Syllabuscontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Tacontroller</servlet-name>
        <servlet-class>controllers.Tacontroller</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>Tacontroller</servlet-name>
    <url-pattern>/Tacontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Schedulecontroller</servlet-name>
        <servlet-class>controllers.Schedulecontroller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Schedulecontroller</servlet-name>
        <url-pattern>/Schedulecontroller</url-pattern>
    </servlet-mapping>
</web-app>